---
import Main from '../layouts/Main.astro'
import BreederDetail from '../layouts/BreederDetail.astro'
import ContactUs from '../layouts/ContactUs.astro'
import Try from '../layouts/Try.astro'
---
<Main></Main>
<!-- <ContactUs></ContactUs> -->
<!-- <BreederDetail></BreederDetail> -->
<!-- <Try></Try> -->