<div class="h-[135vh] md:h-[120vh] md:w-[100vw] flex flex-col justify-between items-center bg-[url('/assets/testimonial_bg.jpg')] bg-cover bg-no-repeat ">
    <div id="" class="h-[17%] md:h-[30%] w-[90%] my-[5%] md:my-[0%] ml-[5%] md:ml-[0%] flex flex-col justify-center items-center gap-y-[3%] md:gap-y-[9%]">
        <img src="/assets/RedTransPaw.png" alt="Red Trans Paw" class="animate-[wiggle_1s_ease-in-out_infinite] h-[42px] w-[42px] mt-[90px] p-[2px]" />
        <h5 class="text-redish text-2xl font-extrabold">Meet the animals</h5>
        <h2 class="text-blackish text-4xl font-black text-center">Puppies Waiting for Adoption</h2>
        <p  class="text-blackish text-base leading-7 text-center">The best overall dog DNA test is Embark Breed & Health Kit (view at Chewy), which <br/> provides you with a breed brwn and information most dogs</p>
    </div>
    <!-- bottom -->
    <div class="h-[70%] md:h-[60%] w-[98%] mb-[2%] flex flex-col md:flex-row items-center justify-center gap-[1%] md:gap-[3%]">
        <!--left Side -->
        <div class="flex flex-col md:flex-row justify-center md:justify-end items-center h-[60%] w-[98%] md:h-[100%] md:w-[65%] mt-[2%] md:mt-[0%] relative ">
            <!--card1-->
            <div class="h-[99%] w-[100%] md:w-[40%] md:h-[98%]">
                <img src="/assets/AfterFaq/breed_services_img01.jpg" alt="Dog1" class="h-[100%] w-[96%] ml-[2%] md:rounded-lg md:shadow-xl"/>
                
                <div class="bg-white rounded-lg shadow-xl h-[9%] w-[60%] md:w-[80%] flex justify-center items-center relative right-[-20%] md:right-[-10%] top-[-12%] md:top-[-15%]">
                    <a class="text-2xl p-1 font-black text-redish capitalize w-[100%] text-center">Golden Retriver</a>
                </div>  
            </div>
            <!--card2-->
            <div class="hidden md:block h-[99%] w-[100%] md:w-[40%] md:h-[98%]">
                <img src="/assets/AfterFaq/breed_services_img02.jpg" alt="Dog1" class="h-[100%] w-[96%] ml-[2%] md:rounded-lg shadow-xl border-gray-200 border-[1px]"/>
                
                <div class="bg-white rounded-lg shadow-xl h-[9%] w-[220px] md:w-[80%] flex justify-center items-center relative md:right-[-10%] top-[-12%] md:top-[-15%]">
                    <a class="text-2xl p-1 font-black text-redish capitalize w-[100%] text-center">Golden Retriver</a>
                </div>  
            </div>
            <!--card3-->
            <div class="hidden h-[99%] w-[100%] md:w-[40%] md:h-[98%]">
                <img src="/assets/AfterFaq/breed_services_img02.jpg" alt="Dog1" class="h-[100%] w-[96%] ml-[2%] md:rounded-lg shadow-xl border-gray-200 border-[1px]"/>
                
                <div class="bg-white rounded-lg shadow-xl h-[9%] w-[220px] md:w-[80%] flex justify-center items-center relative md:right-[-10%] top-[-12%] md:top-[-15%]">
                    <a class="text-2xl p-1 font-black text-redish capitalize w-[100%] text-center">Golden Retriver</a>
                </div>  
            </div>
            <!--card4-->
            <div class="hidden h-[99%] w-[100%] md:w-[40%] md:h-[98%]">
                <img src="/assets/AfterFaq/breed_services_img02.jpg" alt="Dog1" class="h-[100%] w-[96%] ml-[2%] md:rounded-lg shadow-xl border-gray-200 border-[1px]"/>
                
                <div class="bg-white rounded-lg shadow-xl h-[9%] w-[220px] md:w-[80%] flex justify-center items-center relative md:right-[-10%] top-[-12%] md:top-[-15%]">
                    <a class="text-2xl p-1 font-black text-redish capitalize w-[100%] text-center">Golden Retriver</a>
                </div>  
            </div>
        </div>
        <!--right Side -->
        <div class="h-[40%] md:h-[99%] w-[98%] md:w-[35%] mb-[1%] md:mb-[0%]">
            <div class="h-[100%] w-[100%] md:w-[70%] bg-[url('/assets/AfterFaq/breed_services_bg.jpg')] flex justify-center items-center mx-[0%] md:mx-[0%] mb-[1%] md:mb-[0%]">
                <div class="w-[100%] h-[100%] md:h-[100%] flex flex-col justify-center gap-y-[1%] mx-[3%]">
                    <h5 class="text-white text-lg font-black p-1">| Dog Breeder</h5>
                    <h3 class="text-white text-4xl font-black p-1">Available for Breed</h3>
                    <p class="text-white text-sm leading-6 p-2">The best overall dog DNA test is Embark Breed & Health Kit (view at Chewy), which provid dogs</p>
                    <button class="text-redish bg-white h-[50px] w-[150px] text-base font-bold rounded-lg flex justify-evenly items-center cursor-pointer relative overflow-hidden z-[1] before:absolute before:w-full before:h-[0%] before:z-[2] before:duration-1000 before:rounded-[50%_50%_0_0] before:left-0 before:bottom-0 hover:before:h-[180%] before:bg-[#0a303a]">
                        <p class="relative z-[3]">More pets</p>
                        <img src="/assets/RedTransPaw.png" alt="RedTransPaw" class="relative z-[3] rotate-90 h-5"/>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="h-[50vh] flex flex-col justify-center items-center md:flex-row mt-[10vh] md:mt-[5vh]">
    
    <img src="../assets/newsletter/newsletterback.png" alt="newsletterback" class="hidden md:block md:w-[10vw] md:h-[10vw]"/>
    <div class="bg-[url('/assets/newsletter/newsletterbg.jpg')] bg-cover bg-center bg-no-repeat border-black border-2 h-[45vh] w-[95vw] rounded-2xl flex flex-col justify-center items-center text-white text-center md:w-[70vw] md:h-[26vh] md:flex md:flex-row md:space-x-3 ">
        <div class="md:relative md:left-[-15px]">
            <h2 class="text-4xl font-black relative top-[-25px] md:top-0 ">
                Newsletter For
            </h2>
            <p class="text-lg  font-semibold relative top-[-25px] md:top-0">* Do Not Show Your Email.</p>
        </div>
        <input type="email" class="border-2 border-white rounded-lg w-[80vw] h-[7.5vh] bg-white md:w-[30vw] md:top-0 md:p-3 " placeholder="Enter your email address"/><br/>
        <button class=" border-white rounded-lg w-[170px] h-[63px] bg-white mt-2 text-center text-[#f04336] text-xl font-extrabold md:relative md:top-[-5px] md:p-5 md:h-[7.5vh] md:flex md:justify-center md:items-center">Subscribe</button>
    </div>
    <img src="../assets/newsletter/newsletterfront.png" alt="newsletterback" class="hidden md:block md:w-[10vw] md:h-[10vw]"/>
    
</div>