<div class="bg-gray-200 p-6 flex items-center justify-center h-screen">

    <div class="w-[500px] h-[50px] overflow-hidden relative">
        <div class="flex absolute animate-[rotate_10s_infinite_linear]">
            <div class="w-60 p-2 text-center bg-white shadow-md m-2">Brand 1</div>
            <div class="w-60 p-2 text-center bg-white shadow-md m-2">Brand 2</div>
            <div class="w-60 p-2 text-center bg-white shadow-md m-2">Brand 3</div>
            <div class="w-60 p-2 text-center bg-white shadow-md m-2">Brand 4</div>
            <div class="w-60 p-2 text-center bg-white shadow-md m-2">Brand 5</div>
            <div class="w-60 p-2 text-center bg-white shadow-md m-2">Brand 6</div>
            <div class="w-60 p-2 text-center bg-white shadow-md m-2">Brand 7</div>
            <div class="w-60 p-2 text-center bg-white shadow-md m-2">Brand 8</div>
            <div class="w-60 p-2 text-center bg-white shadow-md m-2">Brand 9</div>
            <div class="w-60 p-2 text-center bg-white shadow-md m-2">Brand 10</div>
        </div>
    </div>

</div>