<!-- Navigation Bar -->
<nav class="fixed">
  <div
    id="navbar"
    class="text-[#f04336] bg-cover bg-center bg-no-repeat bg-[url('/assets/cloud.png')] flex justify-around items-center h-20 text-base w-screen"
  >
    <div id="logo" class="">Claw</div>
    <div id="link" class="">
      <a>Link 1</a>
      <a>Link 2</a>
      <a>Link 2</a>
    </div>
    <div id="login" class="">
      <a>Adopt</a>
    </div>
    <!-- cloud img
    <div id="cloud" class="relative bottom-6 w-full h-6 bg-cover bg-center bg-no-repeat bg-[url('/assets/cloud.png')]">
        
    </div> -->
  </div>
</nav>

<style>
  /* #navbar {
      color: #f04336;
      background-color: #ffffff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 80px;
      font-size: 16px;
      font-size: larger;
      z-index: 2;
    } */

  /* #cloud {
      position: relative;
      bottom:25px;
      z-index: 1;
      width: 100vw;
      height: 6.2vh; 
      /* background-image: url('\assets\img\cloud.png');
      background-image: url(/assets/cloud.png);
      background-size: cover;
} */
</style>
