<body class="bg-gray-300">
    <!-- Navigation Bar -->
        <nav class="fixed">
        <div id="navbar">
          <div id="logo" class="ml-5">
            Claw
          </div>
          <div id="link" class="">
            <a>Link 1</a>
            <a>Link 2</a>
            <a>Link 2</a>
          </div>
          <div id="login" class="mr-5">
            <a>Adopt</a>
          </div>
        </div>
        <div id="cloud"><!--cloud img -->
        
        </div>
        
      </nav>
      
    

    <!-- Back to top button -->
    <button id="back-to-top" class="hidden fixed bottom-5 right-5 border border-black bg-white text-black p-3 rounded-full shadow-lg hover:bg-black hover:text-white transition duration-300">
        <!-- Arrow Icon -->
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M5 15l7-7 7 7" />
        </svg>
    </button>
</body>


<script is:inline>
    window.onscroll = function () {
        const button = document.getElementById('back-to-top');
        if (document.documentElement.scrollTop > 100) {
            button.classList.remove('hidden'); // Ensure button is visible
            button.classList.add('translate-y-0', 'opacity-100'); // Move to the bottom-right position
            button.classList.remove('-translate-y-[calc(100vh-70px)]', 'opacity-0'); // Remove hidden effect
        } else {
            button.classList.add('-translate-y-[calc(100vh-70px)]', 'opacity-0'); // Move back to the top
            button.classList.remove('translate-y-0', 'opacity-100'); // Remove visible effect
        }
    };

    // Function to scroll to the top of the page
    document.getElementById('back-to-top').onclick = function() {
        window.scrollTo({ top: 0, behavior: 'smooth' });
    };
</script>

<style>

    #navbar {
      color: #f04336;
      background-color: #ffffff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 80px;
      font-size: 16px;
      font-size: larger;
      z-index: 2;
    }

    #cloud {
      position: relative;
      bottom:25px;
      z-index: 1;
    width: 100vw;
      height: 6.2vh; 
  background-image: url('../public/assets/cloud.png');
  background-size: cover;
}

</style>