<<<<<<< HEAD
---
import MobileMenu from "../components/Mobilemenu.astro";
---

<!-- Navigation Bar for pc-->
<nav class="fixed ">
  <div id="navbar"class="bg-[#ffffff] text-[#f04336] flex justify-between items-center h-[15vh] text-xl w-screen ">
    <div id="logo" class="ml-5">Claw</div>
    <div id="link" class=" space-x-10">
      <!-- <a class="hover:bg-[url('/assets/hoverbg.svg')] bg-cover bg-no-repeat block">Link 1</a> -->
      <a class="">Link 1</a>
      <a class="">Link 2</a>
      <a class="">Link 3</a>
    </div>
    <div id="login" class="mr-5">
      <a>Adopt</a>
    </div>
  </div>
  <div id="cloud1" class="relative bottom-6 w-screen h-[6.2vh] bg-cover bg-center bg-no-repeat bg-[url('/assets/cloud.png')]" >
    <!--cloud -->
  </div>
</nav>

<MobileMenu/>
=======
<!-- Navigation Bar -->
<nav class="fixed">
  <div
    id="navbar"
    class="text-[#f04336] bg-cover bg-center bg-no-repeat bg-[url('/assets/cloud.png')] flex justify-around items-center h-20 text-base w-screen"
  >
    <div id="logo" class="">Claw</div>
    <div id="link" class="">
      <a>Link 1</a>
      <a>Link 2</a>
      <a>Link 2</a>
    </div>
    <div id="login" class="">
      <a>Adopt</a>
    </div>
    <!-- cloud img
    <div id="cloud" class="relative bottom-6 w-full h-6 bg-cover bg-center bg-no-repeat bg-[url('/assets/cloud.png')]">
        
    </div> -->
  </div>
</nav>

<style>
  /* #navbar {
      color: #f04336;
      background-color: #ffffff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 80px;
      font-size: 16px;
      font-size: larger;
      z-index: 2;
    } */

  /* #cloud {
      position: relative;
      bottom:25px;
      z-index: 1;
      width: 100vw;
      height: 6.2vh; 
      /* background-image: url('\assets\img\cloud.png');
      background-image: url(/assets/cloud.png);
      background-size: cover;
} */
</style>
>>>>>>> 2f374671a7a0e0caeb4cc92044e7bc9a3e471aea
