---
import Paw from "../components/RotatePaw.astro";
---

<div class="bg-[url('/assets/herobg.jpg')] bg-center bg-cover bg-no-repeat h-[85vh] w-[100vw]">
  <!-- <img src="/assets/WhitePaw.png" alt="Paw" class="relative left-[49vw] top-[20vh] animate-[wiggle_1s_ease-in-out_infinite]"/> -->
   <div class="relative top-[25%] md:relative md:top-[40%] text-left md:ml-[5vw] px-5">  
    <h2 class="md:flex md:items-center text-4xl md:text-6xl font-semibold text-white h-[75px] flex flex-row items-center ">
      Best Friend 
      <span class="bg-[url('assets/bg.svg')] bg-cover bg-no-repeat flex justify-center items-center h-[45px] w-[115px] md:h-16 md:w-40 text-3xl font-semibold text-white md:text-5xl ml-3">With</span> 
      <img src="/assets/WhitePaw.png" alt="Paw" class="h-[25px] w-[25px] md:h-[36px] md:w-[36px] animate-[wiggle_1s_ease-in-out_infinite]"/>
    </h2>
    <h2 class="flex text-4xl md:text-6xl font-semibold text-white">
      Happy Time
    </h2>
    <br />
    <p class="text-xl font-medium text-white">
      Human Shampoo on Dogs After six days of delirat, the jury <br /> found Hernandez
      guilty of first-degree murder.
    </p><br />
    <a type="button" class="flex justify-start w-[154px] px-5 py-3 text-base font-medium text-white bg-red-800 rounded-lg hover:bg-red-700">
      View More
      <img
        src="/assets/WhitePaw.png"
        alt="Paw"
        class="animate-[wiggle_1s_ease-in-out_infinite] ml-3 h-4 w-4 z-10"
      />
    </a>
    <br />
  </div>
</div>

<style>

</style>