<!-- Navigation Bar for mobile-->
<div class="bg-[#f04336] h-[2000px] w-screen sm:hidden">
  <div id="body"  class="sticky">
      <div id="navbar"class="bg-[#ffffff] text-[#f04336] flex justify-between items-center h-[15vh] text-xl w-screen ">
        <div id="logo" class="ml-5">Claw </div>
        <button id="icon" class="bg-[url('/assets/hamburgericon.jpeg')] h-[40px] w-[40px] bg-cover bg-center mr-[30px]"></button>
      </div>
      <div id="cloud2" class="relative bottom-6 w-screen h-[6.2vh] bg-cover bg-center bg-no-repeat bg-[url('/assets/cloud.png')]" >
    <!--cloud -->
      </div>
  </div>
</div>

<!--menu -->
<div id="menu" class="ml-[60vw] h-screen w-[40vw] fixed bg-slate-600 top-0 z-10 hidden">
  <div class="text-[#f04336] flex justify-around items-center h-[15vh]  ">
      <span id="logo" class="text-5xl">CLaw</span>
      <button id="cross" class="bg-[url('/assets/cross.png')] bg-cover bg-center bg-no-repeat h-[40px] w-[40px]"></button>
  </div>
      <div class="menu_element">Home</div>
      <div class="menu_element">Why We</div>
      <div class="menu_element">Adopt</div>
      <div class="menu_element">Contact</div>
      <div class="menu_element">Footer</div>
      <div class="menu_element justify-center space-x-1">
        <span>tele</span>
        <span>twi</span>
        <span>ig</span>
      </div>
</div>
<style>
  .menu_element{
     @apply p-3 flex items-center h-[7vh] border-solid border-t-2 border-white ;
  }
</style>
<script is:inline>
  document.getElementById('icon').addEventListener('click', () => {
      document.getElementById('menu').classList.toggle('hidden');
      document.getElementById('body').classList.toggle('blur-sm');      
  });
  document.getElementById('cross').addEventListener('click', () => {
      document.getElementById('menu').classList.toggle('hidden');
      document.getElementById('body').classList.toggle('blur-sm');      
  });
</script>