<div class="bg-[url('/assets/WhiteUp.png')] bg-[#f5f1eb] bg-cover bg-no-repeat h-[25px] w-screen"></div>

<div class="w-screen h-[250vh] md:h-[120vh] flex flex-col justify-start items-center bg-[#fefffe] gap-[3%] mt-[3%]">    
    <div class="flex flex-col justify-around items-center space-y-[2%] h-[15%] md:h-[25%] mb-2 md:mb-0">
        <img src="/assets/Blogs/RedTransPaw.png" alt="Paw" class="animate-[wiggle_1s_ease-in-out_infinite] h-[50px] " />
        <h5 class="text-blackish text-2xl font-extrabold text-center w-[90%] ">Our News</h5>
        <h2 class="text-blackish text-4xl font-black text-center w-[90%]">Latest News Update</h2>
        <p class="text-blackish leading-5 text-base font-medium text-center w-[90%] md:w-[55%]">The best overall dog DNA test is Embark Breed & Health Kit (view at Chewy), which provides you with a breed brown and information Most dogs</p>
    </div>
    <!--Container -->
    <!-- <div class="h-[90%] md:h-[58%] md:w-[85%] grid grid-cols-1 md:grid-cols-3 gap-4 md:gap-0"> -->

    <div class="h-[90%] md:h-[58%] md:w-[85%] grid grid-cols-1 md:grid-cols-3 gap-4 md:gap-0 md:mt-[3%]">
    <!--card1-->   
    <div class="h-[100%] flex justify-start items-center ">
        <div class="h-[100%] w-[90%] bg-slate-200 rounded-lg flex flex-col justify-evenly items-start ml-[5%] p-4">
            <img alt="Blog1" src="/assets/Blogs/Blog01.jpg"  class="h-[] w-[100%] rounded-lg shadow-lg"/>
            <ul class="flex justify-center items-center gap-1 ml-[5%] p-1">
                <li class="flex gap-1">
                <i class="fa-regular fa-user"></i>
                <p class="capitalize ">Admin</p>
                </li>
                <li class="flex items-center gap-1">
                <p class="">/</p>
                <i class="fa-regular fa-bell"></i>
                <p class="">Mar 10,2021</p>
                </li>

            </ul>
            <a class="text-blackish text-2xl font-black w-[90%] ml-[5%]">Working For Dog Adoption</a>
            <p class="text-blackish leading-5 text-base font-medium w-[90%] ml-[5%]">The best overall dog test is Embark Breed & Health Kit view at Chewy.</p>
            <a href="" class=" group text-lg font-extrabold text-redish hover:text-blackish ml-[5%]"> Read More <div class="bg-blackish h-[2px] w-0 group-hover:w-full transition-all duration-500"></div></a>

        </div>
    </div>
    <!--card2-->   
    <div class="h-[100%] flex justify-start items-center ">
        <div class="h-[100%] w-[90%] bg-slate-200 rounded-lg flex flex-col justify-evenly items-start ml-[5%] p-4">
            <img alt="Blog1" src="/assets/Blogs/Blog02.jpg"  class="h-[] w-[100%] rounded-lg shadow-lg"/>
            <ul class="flex justify-center items-center gap-1 ml-[5%] p-1">
                <li class="flex gap-1">
                <i class="fa-regular fa-user"></i>
                <p class="capitalize ">Admin</p>
                </li>
                <li class="flex items-center gap-1">
                <p class="">/</p>
                <i class="fa-regular fa-bell"></i>
                <p class="">Mar 10,2021</p>
                </li>

            </ul>
            <a class="text-blackish text-2xl font-black w-[90%] ml-[5%]">Working For Dog Adoption</a>
            <p class="text-blackish leading-5 text-base font-medium w-[90%] ml-[5%]">The best overall dog test is Embark Breed & Health Kit view at Chewy.</p>
            <a href="" class=" group text-lg font-extrabold text-redish hover:text-blackish ml-[5%]"> Read More <div class="bg-blackish h-[2px] w-0 group-hover:w-full transition-all duration-500"></div></a>

        </div>
    </div>
    <!--card3-->   
    <div class="h-[100%] flex justify-start items-center ">
        <div class="h-[100%] w-[90%] bg-slate-200 rounded-lg flex flex-col justify-evenly items-start ml-[5%] p-4">
            <img alt="Blog1" src="/assets/Blogs/Blog03.jpg"  class="h-[] w-[100%] rounded-lg shadow-lg"/>
            <ul class="flex justify-center items-center gap-1 ml-[5%] p-1">
                <li class="flex gap-1">
                <i class="fa-regular fa-user"></i>
                <p class="capitalize ">Admin</p>
                </li>
                <li class="flex items-center gap-1">
                <p class="">/</p>
                <i class="fa-regular fa-bell"></i>
                <p class="">Mar 10,2021</p>
                </li>

            </ul>
            <a class="text-blackish text-2xl font-black w-[90%] ml-[5%]">Working For Dog Adoption</a>
            <p class="text-blackish leading-5 text-base font-medium w-[90%] ml-[5%]">The best overall dog test is Embark Breed & Health Kit view at Chewy.</p>
            <a href="" class=" group text-lg font-extrabold text-redish hover:text-blackish ml-[5%]"> Read More <div class="bg-blackish h-[2px] w-0 group-hover:w-full transition-all duration-500"></div>
            </a>

        </div>
    </div>
    </div>
</div>