<div class="bg-[url('/assets/testimonial_bg.jpg')] bg-cover h-[100vh] w-[100vw] flex flex-col justify-center items-center"> <!-- flex flex-col justify-center items-center -->
       <div class="text-center ">
           <h6 class="text-xl font-extrabold text-[#f04336] mb-[18px] md:text-4xl ">Why Choose us?</h6>
        <h2 class="text-3xl text-[#0a303a] font-extrabold md:text-6xl"> Best Service to Breeds Your <br/> Loved Dog Explore</h2>
    </div>
    <div class="flex flex-col justify-center items-center mt-[25px] md:mt-[90px] space-y-4 md:flex md:flex-row md:space-x-4">
        <div class="container ">
            <h2 class="text-center text-[#0a303a] text-4xl font-extrabold"><span>0</span>%</h2>
            <p class="text-center text-[#747474] text-base font-semibold"> DOGS ARE FIRST BRED</p>
        </div>
        <div class="container ">
            <h2 class="text-center text-[#0a303a] text-4xl font-extrabold"><span>0</span>%</h2>
            <p class="text-center text-[#747474] text-base font-semibold"> DOGS ARE FIRST BRED</p>
        </div>
        <div class="container ">
            <h2 class="text-center text-[#0a303a] text-4xl font-extrabold"><span>0</span>%</h2>
            <p class="text-center text-[#747474] text-base font-semibold"> DOGS ARE FIRST BRED</p>
        </div>
        <div class="container ">
            <h2 class="text-center text-[#0a303a] text-4xl font-extrabold"><span>0</span>%</h2>
            <p class="text-center text-[#747474] text-base font-semibold"> DOGS ARE FIRST BRED</p>
        </div>
    </div>
</div>

    
    <style>
        .container {
            @apply flex flex-col justify-center h-[15vh] w-[30vh] bg-white shadow-2xl rounded-md md:w-[20vw] md:h-[15vw] 
        }
    </style>
    