<div class="bg-[url('/assets/testimonial_bg.jpg')] bg-cover h-[100vh] w-[100vw] "> 
    <div class="text-center relative top-[10vh] md:top-[10vh]">
        <h6 class="text-xl font-extrabold text-[#f04336] mb-[18px] md:text-4xl ">Why Choose us?</h6>
     <h2 class="text-3xl text-[#0a303a] font-extrabold md:text-5xl md:mt-[5vh]"> Best Service to Breeds Your <br/> Loved Dog Explore</h2>
    </div>
    <div class=" relative flex flex-col justify-center items-center mt-[25px] top-[15vh] md:top-[10vh] md:mt-[90px] space-y-4 md:flex md:flex-row md:space-x-4 ">
     <div class="container ">
        <h2 class="text-center text-[#0a303a] text-4xl font-extrabold"><span data-target="50">50</span>%</h2>
         <p class="text-center text-[#747474] text-base font-semibold"> DOGS ARE FIRST BRED</p>
     </div>
     <div class="container ">
        <h2 class="text-center text-[#0a303a] text-4xl font-extrabold"><span data-target="60">60</span>%</h2>
         <p class="text-center text-[#747474] text-base font-semibold"> DOGS ARE FIRST BRED</p>
     </div>
     <div class="container ">
        <h2 class="text-center text-[#0a303a] text-4xl font-extrabold"><span data-target="150">150</span>%</h2>
         <p class="text-center text-[#747474] text-base font-semibold"> DOGS ARE FIRST BRED</p>
     </div>
     <div class="container ">
        <h2 class="text-center text-[#0a303a] text-4xl font-extrabold"><span data-target="262">262</span>%</h2>
         <p class="text-center text-[#747474] text-base font-semibold"> DOGS ARE FIRST BRED</p>
     </div>
    </div>
</div>
<div class="h-[20vh]  md:h-[0px]"></div>

<div class="bg-white h-[90vh] flex flex-col-reverse items-center space-y-4 md:flex md:flex-row md:justify-center md:space-x-8 md:space-y-0">

    <div class="text-left ml-6 mt-5 w-[60vw]">  
      <h2 class="text-4xl md:text-6xl font-semibold text-[#0a303a] inline">
        Working For <br/>
        Dog <h2 class="text-[#f04336] text-4xl md:text-6xl font-semibold inline">Adoption Free,</h2> 
      </h2>
      <h2 class="flex text-4xl md:text-6xl font-semibold text-[#0a303a]">
        Happy Time
      </h2>
      <br />
      <p class="text-xl font-medium text-[#0a303a]">
        The best overall dog DNA test is Embark Breed & Health Kit (view at Chewy), which provides you with a breed brwn and information.
      </p>
      <br />
      <!-- button -->
      <a type="button" class="flex justify-center items-center w-[125px] px-5 py-3 text-base font-medium text-white bg-red-800 rounded-lg hover:bg-red-700">
        Adoption
        <img src="/assets/transpaw.png" alt="TransPaw" class="rotate-45 ml-3 h-5"/>
      </a>
      <br />
    </div>
    <!--Dog img with up down -->
    <div class="">
    <img class="bg-[url('/assets/adoption_img.jpg')] bg-cover bg-no-repeat bg-center h-[50vh] w-[80vw] md:w-[50vw] md:h-[70vh] "></img>
    </div>
</div>
<!-- image up n down -->
<!-- <section class="h-[50vh] w-[80vw] md:w-[50vw] md:h-[70vh]">
    
    <div class="bg-[url('/assets/up.png')] bg-cover bg-no-repeat bg-center h-[8px] w-[80vw] absolute top-0 "></div>
    <div class="bg-[url('/assets/adoption_img.jpg')] bg-cover bg-no-repeat bg-center h-[50vh] w-[80vw] md:w-[50vw] md:h-[70vh] "></div>
    <div class="bg-black bg-cover bg-no-repeat bg-center h-[10vh] w-[80vw] absolute bottom-0"></div>

</section> -->



    
<style>
    .container {
        @apply flex flex-col justify-center h-[15vh] w-[30vh] bg-white shadow-2xl rounded-md md:w-[20vw] md:h-[15vw] 
    }
</style>

<script is:inline>
    document.addEventListener('DOMContentLoaded', () => {
      const counters = document.querySelectorAll('.container h2 span');
      
      // Options for the IntersectionObserver
      const observerOptions = {
        root: null,
        rootMargin: '0px',
        threshold: 0.1
      };
  
      // Create a new IntersectionObserver
      const observer = new IntersectionObserver((entries) => {
        entries.forEach(entry => {
          if (entry.isIntersecting) {
            const counter = entry.target;
            counter.innerText = '0';
            
            // Function to update the counter
            const updateCounter = () => {
              const target = +counter.getAttribute('data-target');
              const count = +counter.innerText;
              const increment = target / 200; // Define the increment value
  
              if (count < target) {
                counter.innerText = `${Math.ceil(count + increment)}`;
                setTimeout(updateCounter, 10); // Update the counter every 10ms
              } else {
                counter.innerText = target; // Ensure the counter reaches the target
              }
            };
            updateCounter();
          }
        });
      }, observerOptions);
  
      // Observe each counter element
      counters.forEach(counter => {
        observer.observe(counter);
      });
    });
  </script>
  
    